.container-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 13px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) ease-in;
}

.container-1 img{
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.container-1 .img_row{
    margin-top: 30px;
}

.container-1 button{
    padding: 10px;
    background: #30A7DF;
    cursor: pointer;
    color: white;
    font-size: medium;
    font-weight: bolder;
    margin: 15px 0;
}

@media screen and (min-width: 800px){
    .container-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 17px;
    }
    .container-1 img{
        width: 32vw;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}

